/***************/
/* MAIN STYLES */
/***************/
:root {
  /* PRIMARY COLORS */
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* NEUTRAL COLORS */
  --blue_mainbg: hsl(217, 54%, 11%);
  --blue_cardbg: hsl(216, 50%, 16%);
  --blue_cardline: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(hsl(0, 0%, 0%));
  /* FOOTERS SECTION */
  --credits: hsl(228, 45%, 44%);
  /* FONT SIZE PARAGRAPH */
  --bodyp: 62,5%;
}



body {
  background-color: var(--blue_mainbg);
  font-size: var(--bodyp);
  color: var(--white);
}

/******************/
/* FOOTER SECTION */
/******************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--credits);
}
